.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
}

/* CSS pour la liste des personnes */
.persons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: space-evenly; /* Pour répartir les éléments sur la ligne */
}

/* CSS de base pour chaque élément de la liste des personnes (PersonPreview) */
.person-preview {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px; /* Espacement en bas */
}

.person-preview:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-preview .person-preview_picture {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.person-preview .person-preview_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-preview .person-preview_info {
  padding: 10px;
}

.person-preview .person-preview_info h2 {
  margin: 0;
  font-size: 1.2rem;
}

.person-preview .person-preview_info p {
  margin: 5px 0 0;
  color: #b7b7b7;
  font-size: 0.9rem;
}

/* Media query pour un design responsive */
@media screen and (min-width: 768px) {
  .persons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly; /* Pour répartir les éléments sur la ligne */
  }

  .person-preview {
    width: calc(33.33% - 10px); /* Pour obtenir une disposition sur 3 colonnes avec un espacement de 20px entre les éléments */
    max-width: 300px; /* Largeur maximale */
  }
}

/* Media query pour les appareils mobiles en mode portrait */
@media screen and (max-width: 767px) {
  .persons-list {
    display: block; /* Pour afficher les éléments en colonne */
  }

  .person-preview {
    width: 100%; /* Occupe toute la largeur */
    max-width: none; /* Réinitialise la largeur maximale */
    margin-bottom: 20px; /* Espacement en bas */
  }
}

/* CSS pour la popup PersonDetails */
.person-details.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282c34;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  display: none; /* Initialement caché */
}

.person-details.popup.active {
  display: block; /* Affichage quand active */
}

/* CSS pour le formulaire dans la popup PersonDetails */
.person-details.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-details.popup img {
  width: 100px; /* Ajustez la taille de l'image selon vos besoins */
  height: 100px; /* Ajustez la taille de l'image selon vos besoins */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.person-details.popup p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.person-details.popup label {
  width: 40%; /* Ajustez la largeur des labels */
  text-align: right;
  margin-right: 10px;
}

.person-details.popup input[type="text"] {
  width: 55%; /* Ajustez la largeur des inputs */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.person-details.popup input[type="submit"],
.person-details.popup button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.person-details.popup input[type="submit"]:hover,
.person-details.popup button:hover {
  background-color: #0056b3;
}

.person-details.popup button[data-button="delete"] {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.person-details.popup button[data-button="delete"] {
  background-color: #c82333;
}

.person-details.popup button[data-button="cancel"] {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.person-details.popup button[data-button="cancel"] {
  background-color: #5a6268;
}

/* Style pour le fond obscurcissant */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente pour l'arrière-plan */
  z-index: 999;
  display: none; /* Initialement caché */
}

.overlay.active {
  display: block; /* Affichage quand active */
}
